@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model ProyectGarantia.Models.Lote

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Lote</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NumeroCorrelativo" class="control-label"></label>
                <input asp-for="NumeroCorrelativo" class="form-control" />
                <span asp-validation-for="NumeroCorrelativo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <select asp-for="Estado" class="form-control" asp-items="Html.GetEnumSelectList<EstadoLote>()"></select>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>    
            <h4>Rango de Fechas de Lote</h4>
            <div class="form-group">
                <label class="control-label">Fecha Desde</label>
                <input class="form-control" type="date"/>
            </div>
            <div class="form-group">
                <label class="control-label">Fecha Hasta</label>
                <input class="form-control" type="date" />
            </div>
            <div class="form-group">
                <label asp-for="FechaCreacion" class="control-label"></label>
                <input asp-for="FechaCreacion" class="form-control" type="date" readonly value="@DateTime.Now.ToString("yyyy-MM-dd")"/>
                @*<span asp-validation-for="FechaCreacion" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="NombreCreador" class="control-label"></label>
                @if (SignInManager.IsSignedIn(User))
                {
                    var user = await UserManager.GetUserAsync(User);
                    var pnombre = user.UserName;
                    <input asp-for="NombreCreador" class="form-control" readonly value="@pnombre" />
                }
                
                @*<span asp-validation-for="NombreCreador" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
